
<div class="demo-button-container">
    <h2>Felhasználók</h2><br/>
</div>

<div class="demo-button-container">
  <p>Ki hány cikket írt</p>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="nev">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{element.nev}}</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Hány cikket szerzett</th>
      <td mat-cell *matCellDef="let element">{{element.count}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
</div>

<div class="demo-button-container">
  <p>Ki hányszor jelentett hibát</p>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="nev">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{element.nev}}</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Jelentett hibák száma</th>
      <td mat-cell *matCellDef="let element">{{element.count}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
</div>

<div class="demo-button-container">
  <p>Melyik felhasználót hányszor bannolták</p>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="nev">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{element.nev}}</td>
    </ng-container>
  
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Bannolások száma</th>
      <td mat-cell *matCellDef="let element">{{element.count}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
</div>

<div class="demo-button-container">
  <p>Felhasználók</p>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email cím</th>
      <td mat-cell *matCellDef="let element">{{element.Email}}</td>
    </ng-container>

    <ng-container matColumnDef="Nev">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{element.Nev}}</td>
    </ng-container>
  
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>Bannolva</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>