<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cím: {{cikk?.cim}}</mat-card-title>
      <!-- <mat-card-subtitle>Szerző:</mat-card-subtitle> -->
      <mat-card-subtitle>Kulcsszavak: <span>{{this.cikk?.kulcsszo[0]}}</span></mat-card-subtitle>
      <mat-card-subtitle>Nyelv: {{cikk?.nyelv}}</mat-card-subtitle>
      <mat-card-subtitle>Kategória: {{cikk?.kategoria}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{cikk?.tartalom}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="isLoggedIn">
      <button mat-raised-button color="primary" (click)="hibaJelentes()">Hiba jelentése</button>
      <button *ngIf="this.cikk.szerzo === this.userId" mat-raised-button color="primary" (click)="szerkesztes()">Szerkesztés</button>
      <!-- <button mat-raised-button color="primary" (click)="torles()">Törlés</button> -->
      <div *ngIf="isLektor">
        <button mat-raised-button color="primary" (click)="lektoralas()">Lektorálás</button>
      </div>
    </mat-card-actions>
  </mat-card>