<div class="div-flex">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Felhasználói fiók adatai</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          Email cím: {{loggedInUser?.email}}
      </p>
      <p>
          Név: {{loggedInUser.nev}}
      </p>
    <mat-form-field>
        <mat-label for="password">Jelszó megváltoztatása</mat-label><input matInput type="password" [formControl]="password" />
    </mat-form-field>
    <div *ngIf="isLektor">
    <mat-form-field appearance="outline">
      <mat-label>Nyelv hozzáadása</mat-label>
      <mat-select [(value)]="valasztottNyelv">
          <mat-option *ngFor="let nyelv of nyelvek" [value]="nyelv.value">
              {{nyelv.value}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nyelv szint hozzáadása</mat-label>
      <mat-select [(value)]="valasztottSzint">
          <mat-option *ngFor="let szint of szintek" [value]="szint.value">
              {{szint.value}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="changePassword()">Változtatások mentése</button>
    </mat-card-actions>
  </mat-card>
</div>