.example-card {
    max-width: 600px;
    margin-bottom: 20px;
    
  }
.div-flex {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}